<div>
  <p>Enter Your New Password Here.</p><br>
  <form [formGroup]="reserpassword" (ngSubmit)="onSubmit()">
    <table>
      <tr>
          <td><label for="Password" >Password:-</label></td>
          <td><input id="password" type="password" placeholder="Enter new Password" formControlName="password">
      </tr>
      <tr>
          <td><label for="confirmpassword">Confirm Password:-</label></td>
          <td><input id="password" type="password" placeholder="confirm password" formControlName="cpassword"></td>
      </tr>
      <tr>
        <td><input type="submit"></td>
      </tr>
    </table>
  </form>


</div>