<form class="loginform" [formGroup]="loginForm" (ngSubmit)="onSubmit()"  >
<div>
  <h2>Sign In</h2>
  <table>
    <tr>
      <td><label >Email:-</label></td>
      <td><mat-form-field class="example-full-width">
          <input matInput id=" email" type="text" placeholder="Enter Email" formControlName="email">
        </mat-form-field></td>

    </tr>
    <tr>
      <td><label>Password:-</label></td>
      <td><mat-form-field>
          <input matInput id="password" type="password" placeholder="Enter Password" formControlName="password">
        </mat-form-field></td>
    </tr>
    <tr>
      <td>
          
        <input type="submit" >
        
      </td>
    </tr>
  </table>

  <a [routerLink]="['/forgotpassword']">Forgot Password</a><br>
  <a [routerLink]="['/register']">register</a>
</div>

</form>