<app-notes></app-notes>
<div fxLayout="row wrap" fxLayoutAlign="center start" class="displaynotes">
<mat-card *ngFor="let items of noteDetailsArray | search : searchInputValue" [style.width]="(this.toggle==false) ? '50vw': null" [ngStyle]="{'background-color':items.color }" >
    <div (click)="openDialog(items)">
    <mat-card-title>
   {{items.title}}
    </mat-card-title>
  <mat-card-content>
    {{items.description}}

    <div *ngFor="let labels of items.label">
        <mat-chip-list >
        <mat-chip color="primary">{{labels}}
          <button mat-icon-button (click)="deleteLabel(items._id,items.label)"><mat-icon>cancel</mat-icon></button>
        </mat-chip>
      </mat-chip-list>
      </div>

    <div *ngFor="let rem of items.reminder">
      <mat-chip-list >
      <mat-chip color="primary">{{rem}}
        <button mat-icon-button (click)="deleteReminder(items._id,items.reminder)"><mat-icon>cancel</mat-icon></button>
      </mat-chip>
    </mat-chip-list>
    </div>
  </mat-card-content>
  </div>

  <mat-card-actions>
      
      <!-- <button mat-icon-button matTooltip="reminder">
          <mat-icon style="font-size: 20px !important">notifications_none</mat-icon>
      </button>
       <mat-menu #reminder="matMenu">
        <p mat-menu-item>Reminder:</p>
        <button mat-menu-item >Later Tody   8pm</button>
        <button mat-menu-item>Tomorrow    8am</button>
        <button mat-menu-item>Next Week   Monday 8am</button>
       </mat-menu> -->
       <app-icons [id]='items._id'></app-icons>
</mat-card-actions>

</mat-card>
</div>