<div fxLayout="row"  fxLayoutAlign="space-between">
    

  <mat-toolbar >
    
    <div >
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div  >
      <img mat-img src="https://ssl.gstatic.com/keep/keep.ico" />
    </div>
    
    <div>
      <span class="title">FundooNotes</span>
    </div>
      
    
    <div>
        <mat-card  fxLayoutAlign="center center" class="searchInput">
          <button mat-icon-button class="searchButton">
            <mat-icon>search</mat-icon>
          </button>
          <input mat-input class="searchInput" placeholder="Search">
        </mat-card>
    </div>
    
    
    <div>
      <button mat-icon-button>
        <mat-icon>refresh</mat-icon>
      </button>
    </div>  
         
    <div *ngIf="toggle==true">
      <button mat-icon-button (click)="list()">
        <mat-icon>view_agenda</mat-icon>
      </button>
    </div>  

    <div *ngIf="toggle==false">
        <button mat-icon-button (click)="list()">
          <mat-icon style="font-size:30px">view_module</mat-icon>
        </button>
      </div>  
  
    <div>
      <button mat-icon-button>
        <mat-icon>settings</mat-icon>
      </button>
    </div>
    <div >
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <img mat-card-avatar class="uploadProfile1" src="{{profile}}">
    </button>
    <mat-menu #menu="matMenu"  >
    <!-- <button mat-menu-item (click)="openDialog()">Upload</button>
    <button mat-menu-item (click)="onlogout()">Sign Out!</button>
    <button mat-menu-item>Change your Password</button> -->
    <mat-card fxLayout="row wrap"  class="profilemenu">
      <div >
        <button mat-icon-button (click)="openDialog()"><img class="uploadProfile2" mat-card-avatar src="{{profile}}"></button>
      </div>
      <div style="margin-top:13px; margin-left:33px;">
        <label style="font-size:10px;">{{email}}</label>
      </div>
      <div style="margin-top:50px; margin-left:45px;">
      <button mat-button (click)="onlogout()">Sign Out!</button>
    </div>
    </mat-card>

    </mat-menu>
   </div>
      
</mat-toolbar>

</div>
<mat-divider></mat-divider>

<!--Sidenav bar is open After click menu button of sidenavbar-->
<!-- <div fxLayout="column" fxLayoutAlign="start" fxFlex="50"> -->
    <mat-sidenav-container>
        <mat-sidenav #sidenav mode="side" class="sidenav">
            <mat-nav-list>
            <h3>FundooNotes</h3>
            <div style="padding-top:5%;"><button class="stylebutton" mat-button style="width:100%" [routerLink]="['notes']">
                <mat-icon>lightbulb_outline</mat-icon><span style="margin:28%">Note</span>
              </button>
            </div>
            
            <div style="padding-top:5%;padding-bottom:5%;"><button class="stylebutton" mat-button style="width:100%" [routerLink]="['']">
              <mat-icon>notifications_none</mat-icon><span style="margin:22%">Reminder</span>
            </button>
          </div>

          <mat-divider></mat-divider>
          <div style="padding-top:8%; padding-bottom:15%;">
          <label>Labels</label>
        </div>
          <mat-divider></mat-divider>
       
          <div style="margin-top:8%"><button class="stylebutton" mat-button style="width:100%" [routerLink]="['archive']">
            <mat-icon>archive_outlined</mat-icon><span style="margin:22%">Archive</span>
          </button>
        </div>
        <div style="margin-top:8%"><button class="stylebutton" mat-button style="width:100%" [routerLink]="['trash']">
            <mat-icon>archive_outlined</mat-icon><span style="margin:22%">Trash</span>
          </button>
        </div>
          </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content class="sidenavcontent">
          <!-- <app-notes></app-notes> -->
           <router-outlet></router-outlet>  
           
        </mat-sidenav-content>
</mat-sidenav-container>
<!-- </div> -->

<!-- <router-outlet></router-outlet> -->




