<div flex-direction="row" fxShow.gt-xs>
    

  <mat-toolbar >
    <div fxFlex="4">
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div fxFlex="4" >
      <img mat-img src="https://ssl.gstatic.com/keep/keep.ico" />
    </div>
    
    <div fxFlex>
      <span class="title">FundooNotes</span>
    </div>
      
    
    <div fxFlex fxHide="true" fxShow.sm>
        <mat-card  fxLayoutAlign="center center" class="searchInput">
          <button mat-icon-button class="searchButton">
            <mat-icon>search</mat-icon>
          </button>
          <input mat-input class="searchInput" placeholder="Search">
        </mat-card>
      </div>
    
    <div fxFlex="5">
      <button mat-icon-button>
        <mat-icon>refresh</mat-icon>
      </button>
    </div>  
         
    <div fxFlex="5">
      <button mat-icon-button>
        <mat-icon>settings</mat-icon>
      </button>
    </div>
    <div>
    <button mat-button [matMenuTriggerFor]="menu">Menu</button>
    <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="onlogout()">Sign Out!</button>
    <button mat-menu-item>Change your Password</button>
    </mat-menu>
   </div>
          
</mat-toolbar>

</div>
<mat-divider></mat-divider>

<!--Sidenav bar is open After click menu button of sidenavbar-->
<!-- <div fxLayout="column" fxLayoutAlign="start" fxFlex="50"> -->
    <mat-sidenav-container style="width:27%;float:left;" class="example-container">
        <mat-sidenav #sidenav mode="side" class="sidenav">
            <mat-nav-list>
            <h3>FundooNotes</h3>
            <a mat-list-item routerLink='notes' >notes</a>
            <a mat-list-item routerLink='second'>Second Component</a>
            <mat-divider></mat-divider>
          </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
          <!-- <router-outlet></router-outlet>  -->
        </mat-sidenav-content>
</mat-sidenav-container>
<!-- </div> -->

<router-outlet></router-outlet>




