.formregister{
    margin-top:15%;
}
.maindiv{
   
    padding: 50px;
    margin:20px;
    margin-right: 20%;
    margin-left: 20%;
}

td
{
    padding:0 15px 0 15px;
}
tr{
    padding:15px 0 15px 0;
}
