.formregister{
    margin-top:10%;
}
.maindiv{
   
    padding: 50px;
    margin:20px;
    margin-right: 20%;
    margin-left: 20%;
    border: 1px solid black;
}

td
{
    padding:0 15px 0 15px;
}
tr{
    padding:15px 0 15px 0;
}

