<div class="alert alert-danger" *ngIf="errorMsg">
  {{errorMsg} }
</div>
  <form class="formregister" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div class="maindiv">
  <table>
    
      
      
  <tr>
  <td><label for="name">Name :-</label></td>
  </tr>
  <div formGroupName="name">
  <tr>
  <td><label >First Name:-</label>
  <td><label for="lastname">LastName:-</label>
  </tr>
  
  <tr>
    <td>
      <mat-form-field appearance="outline">
      <mat-label>First Name</mat-label>
      <input matInput id="firstname" formControlName="firstname"  type="text">
      <mat-hint>Hint</mat-hint>
      </mat-form-field>  
    </td>
    <td>
      <mat-form-field appearance="outline">
      <mat-label>Last Name</mat-label>
      <input matInput id="lastname" formControlName="lastname" type="text">
      <mat-hint>Hint</mat-hint>
      </mat-form-field>  
    </td>
  </tr>
  </div>
  
  <tr>
  <td><label for="username">User Name:-</label></td>
  </tr>
  
  <tr>
  <td>
    <mat-form-field appearance="outline">
    <mat-label>User Name</mat-label>
    <input matInput id="username" formControlName="username" type="text" placeholder="Enter Your Username">
    <mat-hint>Hint</mat-hint>
    </mat-form-field>  
  </td>
  </tr>
  <tr>
  <td><label for="email">Email </label></td>
  </tr>
  <tr>
  <td>
    <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput id="email" formControlName="email" type="text" placeholder="Enter Your Email">
    <mat-hint>Hint</mat-hint>
    </mat-form-field>  
  </td>
  </tr>
  
  <tr>
  <td><label for="password">Password</label></td>
  </tr>

  <tr>
  <td>
    <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input matInput id="password" formControlName="password" [type]="hide ? 'password' : 'text'" placeholder="Enter Your Password">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
    <mat-hint>Hint</mat-hint>
    </mat-form-field>
  </td>
  </tr>
  
  <tr>
  <td><label for="pnumber">Phone_Number</label></td>
  </tr>

  <tr>
  <td>
    <mat-form-field appearance="outline">
    <mat-label>Phone_Number</mat-label>
    <input matInput id="pnumber" formControlName="phone_number" type="number" placeholder="Enter Your Phone Number">
    <mat-hint>Hint</mat-hint>
    </mat-form-field>  
  </td>
  </tr>
  <div formGroupName="address">
  <tr>
  <td><label for="address">Address:-</label></td>
  </tr>
  
  <tr>
  <td><label for="street">Street</label></td>
  <td><label for="city">City</label></td>
  </tr>
  
  <tr>
  <td>
    <mat-form-field appearance="outline">
    <mat-label>Street</mat-label>
    <input matInput id="street" formControlName="street" type="text" placeholder="Street">
    <mat-hint>Hint</mat-hint>
    </mat-form-field>  
  </td>
  <td>
    <mat-form-field appearance="outline">
    <mat-label>City</mat-label>
    <input matInput id="city" formControlName="city" type="text" placeholder="City">
    <mat-hint>Hint</mat-hint>
    </mat-form-field>
  </td>
  </tr>
  
  <tr>
  <td><label for="state">State:-</label></td>
  <td><label for="zipcode">Zip Code</label>
  
  </tr>
   
  <tr>
  <td>
    <mat-form-field appearance="outline">
    <mat-label>State</mat-label>
    <input matInput id="state" formControlName="state" type="text" placeholder="State">
    <mat-hint>Hint</mat-hint>
    </mat-form-field>  
  </td>
  <td>
    <mat-form-field appearance="outline">
    <mat-label>Zip Code</mat-label>
    <input matInput id="zipcode" formControlName="zipcode" type="text" placeholder="Zip Code">
    <mat-hint>Hint</mat-hint>
    </mat-form-field>  
  </td>
  </tr>
 </div>
  <tr>
    <td></td>
  </tr>
 </table>
 <input type="submit" value="Submit">
 </div>


</form>