.input{
    margin: 20%;
}


.noteInput{
    display: flex;
  border:none;
  height: 5vw;
  width: 50vw;
  /* background-color: #f1f3f3; */
  border-radius: 8px;
  font-size: 15px;
 /* border-color: gray;   */
 box-shadow: 3px 3px 5px 5px rgba(0, 0, 0, 0.14);
  outline: none;
  /* box-shadow:none ; */
}

  
.inputnote{
    display: flex;
  border:none;
  /* background-color: #f1f3f3; */
  border-radius: 8px;
  font-size: 15px;
 /* border-color: gray;   */
    outline: none;
  /* box-shadow:none ; */

}  

.noteInputPop{
  height: 5vw;
  width: 50vw;
  box-shadow: 3px 3px 5px 5px rgba(0, 0, 0, 0.14);
}


