
<div   fxLayout="column" fxLayoutAlign="" class="input">
<mat-card   *ngIf="!popUp" (click)="popOut()" class="noteInput" fxLayoutAlign="">
        <div fxLayoutAlign="start center">
        <input matInput  placeholder="Take a note" class="inputnote">
        </div>  
        <div fxLayoutAlign="end center">
        <button mat-icon-button fxFlexAlign="end center" >
            <mat-icon>format_color_fill</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon>brush</mat-icon>
        </button>
        <button mat-icon-button >
            <mat-icon>image</mat-icon>
        </button> 
        
      </div>
</mat-card>
</div>
  
<div   class="popinput">  
<mat-card  *ngIf="popUp" class="noteInputPop" fxLayoutAlign="">
      <div style="display:flex; flex-direction:column;">
        
        <div>
          <input matInput placeholder="Title" class="inputLabelPop" [(ngModel)]="noteModel.title">
        </div>
    
        <div style="margin-top:20px;">  
          <input matInput placeholder="Take a input" class="inputNotePop" [(ngModel)]="noteModel.description" >
        </div>
        <div style="margin-top:12px;">
          <button mat-icon-button matTooltip="Remind me" [matMenuTriggerFor]="reminder">
              <mat-icon style="font-size: 17px !important">add_alert</mat-icon>
          </button>
          <mat-menu #reminder="matMenu">
              <p mat-menu-item>Reminder:</p>
              <button mat-menu-item >Later Tody   8pm</button>
              <button mat-menu-item>Tomorrow    8am</button>
              <button mat-menu-item>Next Week   Monday 8am</button>
          </mat-menu>

          <button mat-icon-button matTooltip="Collaborator" >
              <mat-icon style="font-size: 17px !important">group_add</mat-icon>
          </button>

          <mat-menu #color="matMenu" yPosition="above">
            <div class="colors">
              <button  class="circle" style="background: #ffffff" mat-mini-fab ></button>
              <button  class="circle" style="background: #c58a82" mat-mini-fab></button>
              <button  class="circle" style="background: #b7d5c4" mat-mini-fab></button>
              <button class="circle" style="background: #f04a0e" mat-mini-fab></button>
            </div>
            <div class="colors">
              <button class="circle" style="background: #7c90c1" mat-mini-fab></button>
              <button class="circle" style="background: #a367b5" mat-mini-fab></button>
              <button class="circle" style="background: #0a2d77" mat-mini-fab></button>
              <button class="circle" style="background: #ebe307" mat-mini-fab></button>
            </div>
            <div class="colors">
              <button class="circle" style="background: #770a0a" mat-mini-fab></button>
              <button class="circle" style="background: #0a7722" mat-mini-fab></button>
              <button class="circle" style="background: #000105" mat-mini-fab></button>
              <button class="circle" style="background: #f309d4" mat-mini-fab></button>
            </div>
           
        </mat-menu>
         
          <button mat-icon-button matTooltip="Change color" [matMenuTriggerFor]="color">
              <mat-icon style="font-size: 17px !important">palette</mat-icon>
          </button>
         


          <button mat-icon-button matTooltip="Add image">
              <mat-icon style="font-size: 17px !important">image</mat-icon>
          </button>

          <button mat-icon-button matTooltip="Archive">
              <mat-icon style="font-size: 17px !important">archive</mat-icon>
          </button>

          <button mat-icon-button matTooltip="More" [matMenuTriggerFor]="more"> 
              <mat-icon style="font-size: 17px !important">more_vert</mat-icon>
          </button>
          <mat-menu #more="matMenu">
              <button mat-menu-item >Add Label</button>
              <button mat-menu-item>Add Drawing</button>
              <button mat-menu-item>Show CheckBoxes</button>
          </mat-menu>

          <button mat-icon-button matTooltip="undo">
              <mat-icon style="font-size: 17px !important">undo</mat-icon>
          </button>

          <button mat-icon-button matTooltip="redo">
              <mat-icon style="font-size: 17px !important">redo</mat-icon>
          </button>
          
          <button mat-button (click)="onSubmit()">Close</button>
        </div>
      </div>
</mat-card>
</div>


<!-- <div>
        <mat-card *ngIf="!popup" (click)="onPopup()" class="popupCard" style="    margin-bottom: 10%;">
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <div>
              <input matInput type="text" placeholder="Take a Note..." class="topinput" style="font-size: 18px">
    
              <button mat-icon-button matTooltip="Brush" routerLink="/dashboard" style="margin-right: 3px">
                <mat-icon style="font-size: 18px !important">brush</mat-icon>
              </button>
    
              <button mat-icon-button matTooltip="Image" routerLink="/dashboard" style="margin-right: 3px">
                <mat-icon style="font-size: 18px !important">photo</mat-icon>
              </button>
            </div>
          </div>
        </mat-card>
      </div> -->