<div fxLayout="row wrap" fxLayoutAlign="center start">
    <mat-card *ngFor="let items of sample" [ngStyle]="{'background-color':items.color }" >
      <mat-card-title>
       {{items.title}}
      </mat-card-title>
      <mat-card-content>
        {{items.description}}
       
        <div *ngFor="let rem of items.reminder">
            <mat-chip-list >
            <mat-chip color="primary">{{rem}}
              <button mat-icon-button (click)="deleteReminder(items._id,items.reminder)"><mat-icon>cancel</mat-icon></button>
            </mat-chip>
          </mat-chip-list>
          </div>
      
      </mat-card-content>
    <mat-card-actions>
        <app-icons [id]='items._id'></app-icons>
    </mat-card-actions>
    
    </mat-card>
    </div>